read tcp: i/o timeout

Hello,

I'm using tusd, check metrics page and see this:
tusd_errors_total{message="read tcp: i/o timeout",status="500"} 1180

Googled around and someone say it may be reason is not properly close connection. Is it a bug? or problem with my server?

Thank you

This is neither a bug nor does it indicate a problem. I/O timeouts occur when the connection between the client and server is interrupted unexpectedly (in which case the connection is not properly closed). In general, it's impossible to prevent these errors since it's usually the client's network being unreliable. However, one of the goals of the tus protocol is to properly recover from these error without major interruptions. So, if you are using a tus client which supports retries (which all official clients do), then you do not have to worry about these errors :)

I think this should be reopened: the error code needs to change.

HTTP 500 literally means, "Internal Server Error". According to the HTTP spec: if tusd is returning 500, that means there's a bug in tusd.

Ref: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500

If tusd is encountering timeouts from its upstream server, I think the correct HTTP status code is 504 Gateway Timeout -- indicating that the error isn't tusd's fault.

This is important because clients see this number. An HTTP client that sees error code 500 probably shouldn't retry (because tusd has encountered undefined behavior). An HTTP client that sees error code 504 can be expected to retry (because tusd is functioning as expected).

Refs:
* "500 errors are normal": https://github.com/tus/tusd/wiki/Thoughts-on-handling-connection-issues
* "500 means server encountered an unexpected condition": https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500
* "504 means server did not get a response in time from the upstream server": https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/504

@adamhooper Thanks for the feedback!

> I think the correct HTTP status code is 504 Gateway Timeout

I don't think so. 504 is used to indicate that a proxy did not receive a response from the upstream server before the timeout hit. However, tusd is not a proxy, so I don't see 504 as better suited than 500.

> An HTTP client that sees error code 500 probably shouldn't retry

I also don't really agree to this :) For me, if a client encounters any 5XX response code, it should retry. 5XX indicate that the error was not caused by the request being malformed but instead that some unexpected behavior encountered while processing the question. The best guess the client has in such a situation is to retry.

Does this make sense?

> Does this make sense?

Well sure, but so does what I'm saying. The question is, which behavior makes _more_ sense. Or, alternatively, which behavior is _less nonsense_. (Surely we can agree that both behaviors are nonsense.)

You implied tusd isn't acting as a proxy here. Maybe there's some confusion? As I understand it, the 500 response happens when the connection breaks like this:

```
client <=======> tusd <===||[broken]||====> Google Cloud Storage
```

(The error must _not_ happen when the client disconnects from tusd. Any HTTP response at all is invalid before the HTTP request is fully received.)

This is why I think 504 makes sense: tusd is acting as a proxy to GCS. You can argue "no, tusd is too nuanced to be described as an 'HTTP proxy' here" ... but we must agree that smart, knowledgeable people can find both interpretations valid.

So onwards to the value proposition.

I hit this error while debugging. And I thought it was an error in tusd. My brain takes that shortcut, because everywhere else in my app's stack, HTTP 500 means the service is buggy. 504 doesn't.

I won't try and argue that HTTP 500 is certainly, definitively wrong. I'm sure I can't convince you.

But I am putting forth, once more, that HTTP 504 is equally un-wrong. It's easier for me to debug "HTTP 504 i/o timeout" than it is for me to debug "HTTP 500 i/o timeout"; and I'm certain I'm not the only one.

> You implied tusd isn't acting as a proxy here. Maybe there's some confusion? As I understand it, the 500 response happens when the connection breaks like this:
> 
> ```
> client <=======> tusd <===||[broken]||====> Google Cloud Storage
> ```

Good idea to clarify this first, as this might be the source of our disagreement :) I was talking about timeouts between the client and tusd. Every discussion about 500 error codes or i/o timeouts in this repository (at least every one I am aware of) is focusing on the connection from client to tusd, because this is normally the unreliable connection. My response was formulated with this thinking, so I still believe a 504 is no correct response code for a timeout between the client and tusd.

Since I have never seen timeouts between tusd and the storage provider, I have never spent much thought on them. Without doubt, they can occur but they have not been a problem in the past, so we didn't focus on them.

Maybe this answer already puts things into perspective for you?

> > ```
> > client <=======> tusd <===||[broken]||====> Google Cloud Storage
> > ```

> Good idea to clarify this first, as this might be the source of our disagreement :) I was talking about timeouts between the client and tusd.

How can a timeout between client and tusd lead to an HTTP response?

If tusd writes an HTTP response to a client before reading the entire request from the client, that violates HTTP spec. (And even if there _were_ a way in the HTTP spec to send a response before receiving a request, surely 400 Bad Request would be more appropriate than 500 Internal Server Error: the server is literally assuming there is an _external_ error.)

One correct behavior would be to drop the connection and report it as a dropped connection.

> Since I have never seen timeouts between tusd and the storage provider, I have never spent much thought on them. Without doubt, they can occur but they have not been a problem in the past, so we didn't focus on them.

I'll keep an eye out for them. I think they may have happened to me back when I commented here. GCS seems to hiccup once in a while.

In my case, it is important to catch 500 errors: they happen when my hooks fail. My hooks _do_ fail, and that is an urgent matter, and 500 is a reasonable response in that case. So it certainly would help me if there weren't a 500 error in the case of a timed-out client -- especially since that certainly shouldn't cause a 500 error.

Apologies for my late reply. This conversation slipped through my notifications.

> How can a timeout between client and tusd lead to an HTTP response?

tusd internally has a read timeout. I.e. if tusd is not able to read from the connection for X seconds, it will raise a timeout error. Since the connection from the server to the client might still be intact, the timeout response can also arrive at the client. In general, a timeout error does not always indicate a broken connection.

> If tusd writes an HTTP response to a client before reading the entire request from the client, that violates HTTP spec.

Not as far as I know. I have read multiple times that the HTTP spec does not disallow this behavior, but instead it depends on the HTTP clients if they can handle such a behavior.

> surely 400 Bad Request would be more appropriate than 500 Internal Server Error

This could be considered in the next major release. We cannot make such a change right now as it would be breaking backwards-compatibility.

> In my case, it is important to catch 500 errors: they happen when my hooks fail. My hooks _do_ fail, and that is an urgent matter, and 500 is a reasonable response in that case. So it certainly would help me if there weren't a 500 error in the case of a timed-out client

Thank you for the feedback. I can very much understand that and we will consider it for the next major release in the near future!

> > If tusd writes an HTTP response to a client before reading the entire request from the client, that violates HTTP spec.
> 
> Not as far as I know. I have read multiple times that the HTTP spec does not disallow this behavior, but instead it depends on the HTTP clients if they can handle such a behavior.

Hey, you're right -- [RFC7230, section 3.4](https://datatracker.ietf.org/doc/html/rfc7230#section-3.4): "A server that receives an incomplete request message, usually due to a canceled request or a triggered timeout exception, MAY send an error response prior to closing the connection."

There's an HTTP status for that: [HTTP 408 Request Timeout](https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.7)

Should that be the goal -- new major version changes 500 Internal Server Error to 408 Request Timeout?

Timeouts between tusd and GCS should return something else, of course. But you think they're rare and I haven't given evidence to the contrary, so perhaps if I see that issue again I'll file a new GitHub issue :).

> There's an HTTP status for that: [HTTP 408 Request Timeout](https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.7)

Good idea, thanks for pointing it out! I have added this to the list of possible changes in the future: https://github.com/tus/tusd/issues/492

> Timeouts between tusd and GCS should return something else, of course. But you think they're rare and I haven't given evidence to the contrary, so perhaps if I see that issue again I'll file a new GitHub issue :).

Yes, please do so, if you notice suspicious errors there! :)